<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.proj.web.vo.MemberVO" alias="member"/>
		<typeAlias type="com.proj.web.vo.GalleryVO" alias="gallery"/>
		<typeAlias type="com.proj.web.vo.InformationVO" alias="information"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/MemberMapper.xml"/>
		<mapper resource="mapper/calendarMapper.xml"/>
		<mapper resource="mapper/informationMapper.xml"/>
	</mappers>
</configuration>
