<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.proj.web.dao.MarketMapper">

	<select id="listMarket" parameterType="hashmap" resultType="market">
		select 
			work_seq
		    ,gallery_seq
		    ,work_name
		    ,work_description
		from 
			work
		where 
			member_id = #{member_id}
		<if test="#{searchText} != null">
		and
			work_name like '%' || #{searchText} || '%'
		</if>
		order by gallery_seq desc
	</select>
	
	<!-- 전체 글 개수 (검색 필터링 후) -->
	<select id="getTotal" parameterType="hashmap" resultType="int">
		select 
			count(*)
		from 
			work
		where 
			member_id = #{member_id}
		<if test="_parameter != null">
		and
			work_name like '%' || #{searchText} || '%'
		</if>
		order by gallery_seq desc
	</select>
	
	<insert id="insertMarket" parameterType="market">
		insert into market(
			market_seq
			,work_seq
			,gallery_seq
			,work_name
			,work_description
			,member_id 
			,member_nickname   
			,market_price 
			,market_amount
			,market_size 
		)values(
			market_seq.nextval
			,#{work_seq}
			,#{gallery_seq}
			,#{work_name}
			,#{work_description}
			,#{member_id} 
			,#{member_nickname}   
			,#{market_price} 
			,#{market_amount}
			,#{market_size}
			)
	</insert>

	<select id="MarketAll" resultType="market">
		select
			market_seq
			,work_seq
			,gallery_seq
			,work_name
			,work_description
			,member_id 
			,member_nickname   
			,market_price 
			,market_amount
		from
			market
		order by
			market_seq desc
	</select>
	
	<select id="marketOne" resultType="market" parameterType="int">
		select
			market_seq
			,work_seq
			,gallery_seq
			,work_name
			,work_description
			,member_id 
			,member_nickname   
			,market_price 
			,market_amount
			,market_size
		from
			market
		where
			market_seq = #{market_seq}
	</select>

	<select id="selectMarketWork" parameterType="hashmap" resultType="work">
		select
		    work_seq
		    ,gallery_seq as id
		    ,work_name
		    ,work_description
		from
		    work
		where
		    gallery_seq = #{gallery_seq}
		and
		    work_seq = #{work_seq}
	</select>
	
	<select id="getMarketTotal" parameterType="string" resultType="int">
		select 
			count(*)
		from 
			market
		<if test="_parameter != null">
		where
			work_name like '%' || #{searchText} || '%'
		</if>
		order by market_seq desc
	</select>
	
	<select id="marketlistAll" parameterType="string" resultType="market">
		select 
			market_seq
			,work_seq
			,gallery_seq
			,work_name
			,work_description
			,member_id 
			,member_nickname   
			,market_price 
			,market_amount
		from 
			market
		<if test="_parameter != null">
		where
			work_name like '%' || #{searchText} || '%'
		</if>
		order by market_seq desc
	</select>
	
	<select id="myWorkSellRecord" parameterType="String" resultType="market">
		select
		    market_seq
			,work_seq
			,gallery_seq
			,work_name
			,work_description
			,member_id 
			,member_nickname   
			,market_price 
			,market_amount
			,market_size
		from
		    market
		where
		    member_id = #{member_id}
	</select>


</mapper>