<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.proj.web.dao.MarketMapper">

	<select id="MarketAll" resultType="market">
		select
			
	</select>

	<select id="selectMarketWork" parameterType="hashmap" resultType="work">
		select
		    work_seq
		    ,gallery_seq as id
		    ,work_name
		    ,work_description
		from
		    work
		where
		    gallery_seq = #{gallery_seq}
		and
		    work_seq = #{work_seq}
	</select>


</mapper>